.header {
  position: relative;
}
.profile {
  position: absolute;
  top: 70%;
  left: 43%;
  transition: all 0.2 ease-in;
}

@media (max-width: 1400px) {
  .profile {
    top: 60%;
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 768px) {
  .profile {
    left: 41%;
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 500px) {
  .profile {
    top: 40%;
    left: 35%;
    width: 120px;
    height: 120px;
  }
}
