.profile {
  position: relative;
}
.profile_info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.profile_photo {
  height: 300px;
  width: 300px;
}
.profile_name {
  color: var(--color-logo);
  font-family: var(--font-1);
  font-size: 4.5rem;
  margin: 0;
}

@media (max-width: 1440px) {
  .profile_photo {
    width: 250px;
    height: 250px;
  }
  .profile_name {
    font-size: 3.2rem;
  }
}
@media (max-width: 768px) {
  .profile_photo {
    width: 150px;
    height: 150px;
  }
  .profile_name {
    font-size: 2.2rem;
  }
}
@media (max-width: 500px) {
  .profile_photo {
    width: 120px;
    height: 120px;
  }
  .profile_name {
    font-size: 1.9rem;
  }
}
