.footer {
  display: flex;
  margin-top: 5rem;
  background-color: var(--bg-color-2);
}
.icon {
  font-size: var(--font-size-1);
  color: vaR(--color-text);
  background-color: var(--bg-color);
  padding: 5px 5px 0;
  margin-left: 1rem;
}
.icon:hover {
  color: var(--color);
}
.test {
  margin: 1rem auto;
}
@media (min-width: 768px) {
  .icon {
    margin-left: 1.5rem;
  }
}
